{% extends '@site/layout/default.html.twig' %}

{% block title %}{{ siteTitle() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Ask for help</h1>

        {% if success %}
            <div class="alert alert-success">
                Ticket successfully created.
            </div>
        {% else %}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <form action="" method="post">
                <div class="mb-3">
                    <label for="questionSubject" class="form-label">Subject</label>
                    <input type="text"
                           class="form-control"
                           name="subject"
                           id="questionSubject"
                           value="{{ formData.subject }}">
                </div>

                {% if categories | length == 0 %}
                    <input type="hidden" name="category" value="">
                {% else %}
                    <div class="mb-3">
                        <label for="questionCategory" class="form-label">Category</label>
                        <select id="questionCategory" name="category" class="form-control">
                            <option value="">Not sure</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}"{% if category.id == formData.category %} selected{% endif %}>
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <div class="mb-2">
                    <label for="" class="form-label">Message</label>
                    <textarea class="form-control"
                              name="message"
                              style="height: 300px;">{{ formData.message }}</textarea>
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-outline-success">
                        Send
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
