{% set isSearchEnabled = 0 %}
{% set isTicketsEnabled = 0 %}
{% extends '@site/layout/default.html.twig' %}

{% block title %}{{ siteTitle() }}{% endblock %}

{% block content %}
    <section class="mt-4">
        <div class="container-sm">
            <div class="row">
                {% for item in locales %}
                {% if locales.count == 2 %}
                <div class="col-6">
                    {% elseif locales.count == 2 %}
                    <div class="col-6">
                        {% else %}
                        <div class="col-4">
                            {% endif %}
                            <section class="locale-box mb-4">
                                <a href="{{ url('category-overview', {
                                    locale: item.slug
                                }) }}">
                                    {% if item.thumbnail %}
                                        <figure>
                                            <img src="{{ url('media-file', {
                                                id: item.thumbnail.id
                                            }) }}" alt="{{ item.name }}">

                                            <figcaption>{{ item.selectorText }}</figcaption>
                                        </figure>
                                    {% else %}
                                        {{ item.name }}
                                    {% endif %}
                                </a>
                            </section>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
