{% extends '@site/layout/default.html.twig' %}

{% block title %}{{ siteTitle() }}{% endblock %}

{% block content %}
    <section class="mt-4">
        <div class="container-sm">
            <div class="row">
                {% for item in locales %}
                    <div class="col-3">
                        <section class="locale-box mb-4">
                            <a href="{{ url('category-overview', {
                                'locale': item.id
                            }) }}">
                                <div class="locale-box-logo">
                                    <img src="/svg/{{ item.country | lower }}.svg" alt="{{ item.name }}">
                                </div>

                                <div class="locale-box-name mt-3">
                                    <h2>
                                        {{ item.name }}
                                    </h2>
                                </div>
                            </a>
                        </section>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
