{% extends '@admin/layout/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="row">
            <div class="col">

                <h1>Dashboard</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Most populair articles</h2>

                {% if populairArticles | length == 0 %}
                    <p>No articles available.</p>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <a href="{{ url('admin-dashboard', {}, {
                                        'articleSort': sortQuery('title', sortArticle),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Title</a>
                                </th>
                                <th>
                                    <a href="{{ url('admin-dashboard', {}, {
                                        'articleSort': sortQuery('locale', sortArticle),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Locale</a>
                                </th>
                                <th class="text-end">
                                    <a href="{{ url('admin-dashboard', {}, {
                                        'articleSort': sortQuery('views', sortArticle),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Views</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set counter = 0 %}
                            {% for populairArticle in populairArticles %}
                                {% set counter = counter + 1 %}
                                <tr>
                                    <td>
                                        <a href="{{ url('article', {
                                            locale: populairArticle.articleLocale.id,
                                            slug: populairArticle.articleSlug
                                        }) }}">
                                            {{ counter }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('article', {
                                            locale: populairArticle.articleLocale.id,
                                            slug: populairArticle.articleSlug
                                        }) }}">
                                            {{ populairArticle.articleTitle }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('article', {
                                            locale: populairArticle.articleLocale.id,
                                            slug: populairArticle.articleSlug
                                        }) }}">
                                            {{ populairArticle.articleLocale.name }}
                                        </a>
                                    </td>
                                    <td class="text-end">
                                        <a href="{{ url('article', {
                                            locale: populairArticle.articleLocale.id,
                                            slug: populairArticle.articleSlug
                                        }) }}">
                                            {{ populairArticle.views }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col">
                <h2>Most populair categories</h2>

                {% if populairCategories | length == 0 %}
                    <p>No categories available.</p>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <a href="{{ url('admin-dashboard', {}, {
                                        'categorySort': sortQuery('name', sortCategory),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Title</a>
                                </th>
                                <th>
                                    <a href="{{ url('admin-dashboard', {}, {
                                        'categorySort': sortQuery('locale', sortCategory),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Locale</a>
                                </th>
                                <th class="text-end">
                                    <a href="{{ url('admin-dashboard', {}, {
                                        'categorySort': sortQuery('views', sortCategory),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Views</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set counter = 0 %}
                            {% for populairCategory in populairCategories %}
                                {% set counter = counter + 1 %}
                                <tr>
                                    <td>
                                        <a href="{{ url('category', {
                                            locale: populairCategory.categoryLocale.id,
                                            slug: populairCategory.categorySlug
                                        }) }}">
                                            {{ counter }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('category', {
                                            locale: populairCategory.categoryLocale.id,
                                            slug: populairCategory.categorySlug
                                        }) }}">
                                            {{ populairCategory.categoryName }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('category', {
                                            locale: populairCategory.categoryLocale.id,
                                            slug: populairCategory.categorySlug
                                        }) }}">
                                            {{ populairCategory.categoryLocale.name }}
                                        </a>
                                    </td>
                                    <td class="text-end">
                                        <a href="{{ url('category', {
                                            locale: populairCategory.categoryLocale.id,
                                            slug: populairCategory.categorySlug
                                        }) }}">
                                            {{ populairCategory.views }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
