{% if isSearchEnabled is not defined %}
    {% set isSearchEnabled = searchEnabled() %}
{% endif %}
{% if isTicketsEnabled is not defined %}
    {% set isTicketsEnabled = ticketsEnabled() %}
{% endif %}
<!DOCTYPE html>
{% if locale is not defined %}
<html lang="en">
{% else %}
<html lang="{{ locale }}">
{% endif %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ asset('css/bootstrap.min.css') }}"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/themify/themify-icons.css') }}">

        <title>{% block title %}{% endblock %}</title>

        <style>
            @media print {
                .container-sm {
                    max-width: 100%;
                    width: 100%;
                }

                article, main {
                    margin: 0;
                    padding: 0;
                }
            }

            body {
                color: #333;
            }

            a, a:hover {
                color: #333;
                text-decoration: none;
            }

            h1 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            h2 {
                font-size: 1.3rem;
            }

            article, main {
                padding: 0;
            }

            .article-meta-footer {
                font-size: 0.8rem;
                text-align: right;
            }

            .search-result-item {
                border-bottom: 1px solid #333;
                margin-bottom: 2rem;
            }

            .homepage-search-box {
                background-color: #eee;
                padding: 2rem 0;
                text-align: center;
            }

            .homepage-search-box input {
                border: 1px solid #333;
                padding: 0.75rem 1rem;
            }

            .homepage-search-box button {
                background-color: #333;
                border: 1px solid #333;
                color: #fff;
                padding: 0.75rem 1rem;
            }

            .homepage-search-box h1 {
                margin-bottom: 2rem;
            }

            .homepage-search-box form {
                width: 70%;
            }

            .article-list {
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
            }

            .article-list li {
                margin-bottom: 0.5rem;
            }

            .article-list span {
                margin-right: 0.5rem;
            }

            .article-meta-footer {
                margin-top: 1rem;
            }

            .category-box,
            .locale-box {
                background-color: #eee;
            }

            .category-box a,
            .locale-box a {
                display: block;
                padding: 2rem 1rem;
                text-align: center;
            }

            .category-box-logo img,
            .locale-box img {
                max-height: 90px;
                max-width: 90px;
            }

            .locale-box figcaption {
                font-size: 1.5rem;
                margin-top: 1rem;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg d-print-none">
            <div class="container-sm">
                <a class="navbar-brand" href="{{ url('locale-selector') }}">{{ siteTitle() }}</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="{{ 'topbar.navigation.toggle' | trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% set loadedLocales = locales() %}
                    {% if loadedLocales | length  > 1 %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% for item in loadedLocales %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/{{ item.slug }}">
                                        {% if item.thumbnail %}
                                            <img src="{{ url('media-file', {
                                                    id: item.thumbnail.id
                                                }) }}"
                                                 alt="{{ item.name }}"
                                                 style="width: 20px;">
                                        {% else %}
                                            {{ item.name }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="me-auto"></div>
                    {% endif %}

                    {% if isSearchEnabled %}
                        <form class="d-flex" action="{{ url('search', {
                            locale: locale
                        }) }}" method="get">
                            <input class="form-control me-2"
                                   name="q"
                                   type="search"
                                   placeholder="{{ 'topbar.search.placeholder' | trans }}"
                                   aria-label="{{ 'topbar.search.button' | trans }}">
                            <button class="btn btn-outline-success" type="submit">
                                {{ 'topbar.search.button' | trans }}
                            </button>
                        </form>
                    {% endif %}

                    {% if isTicketsEnabled %}
                        <a href="{{ url('create-ticket') }}" class="btn btn-success ms-2">
                            {{ 'topbar.ask-for-help' | trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
    </body>
</html>

