{% extends '@admin/layout/admin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <h1>Articles</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include '@admin/article/submenu.html.twig' %}
            </div>
        </div>

        {% if articles | length > 0 %}
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <a href="{{ url('admin-article-overview', {}, {
                                        'sort': sortQuery('title', sortQuery),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Title</a>
                                </th>
                                <th>
                                    <a href="{{ url('admin-article-overview', {}, {
                                        'sort': sortQuery('slug', sortQuery),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Slug</a>
                                </th>
                                <th>
                                    <a href="{{ url('admin-article-overview', {}, {
                                        'sort': sortQuery('locale', sortQuery),
                                    }, null, {
                                        reuse_query_params: true
                                    }) }}">Locale</a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>
                                        <a href="{{ url('admin-article-update', {
                                            id: article.id
                                        }) }}">{{ article.lastRevision.title }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ url('admin-article-update', {
                                            id: article.id
                                        }) }}">{{ article.lastRevision.slug }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ url('admin-article-update', {
                                            id: article.id
                                        }) }}">{{ article.lastRevision.locale.name }}</a>
                                    </td>
                                    <td class="text-end">
                                        <a href="{{ url('article', {
                                            locale: article.lastRevision.locale.id,
                                            slug: article.lastRevision.slug
                                        }) }}">View</a>
                                        -
                                        <a href="{{ url('admin-article-update', {
                                            id: article.id
                                        }) }}">Edit</a>
                                        {% if authenticatedUser.isAdmin %}
                                            -
                                            <a href="{{ url('admin-article-delete', {
                                                id: article.id
                                            }) }}">Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <p>
                        No articles available.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
